body {
    margin: 0;
    font-family: 'Pretendard', sans-serif;
    color: #444952;
}

a { 
    text-decoration: none;
    color: #444952;
}

.viewport {
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.title {
    font-weight: 600;
    font-size: 60px;
    margin-top: 130px;
    margin-bottom: 70px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}

.item-left {
    width: 100%;
}

.item-right {
    width: 100%;
}

.item {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
    transition: 0.2s;
}

.item:hover {
    scale: 1.03;
    transition: 0.2s;
}

.item:active {
    scale: 0.98;
    transition: 0.2s;
}

.item-thumbnail {
    background-color: #dfe3ea;
    border-radius: 15px;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item-title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-date {
    font-size: 15px;
    color: #444952ac;
    margin-left: 15px;
    margin-top: 10px;
}

#item-thumbnail-1 {
    background-image: url("https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1129780/regular_1708x683_0417-an-introduction-to-deep-learning-from-perceptrons-to-deep-networks-Waldek_Newsletter-5078bdbf19aea7271f07061a3e17c463.png");
}