body {
    margin: 0;
    background-color: black;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    } to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes leftToRight {
    0% {
        transform: translate(-100%, 0);
    } to {
        transform: translate(0, 0);
    }
}

@keyframes rightToLeft {
    0% {
        transform: translate(100%, 0);
    } to {
        transform: translate(0, 0);
    }
}

#background {
    display: grid;
    align-items: center;
}

#circle-top {
    position: absolute;
    top: -70px;
    left: -70px;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background: linear-gradient(-45deg, rgba(82, 87, 99, 0.4), rgba(82, 87, 99, 0));
    animation: leftToRight 1s;
}

#circle-bottom {
    position: absolute;
    bottom: 0px;
    right: -90px;
    width: 450px;
    height: 450px;
    border-radius: 500px;
    background: linear-gradient(135deg, rgba(82, 87, 99, 0.4), rgba(82, 87, 99, 0));
    animation: rightToLeft 1s;
}

#image {
    width: 120px;
    height: 120px;
    background-color: #525763;
    border-radius: 120px;
    margin: 0 auto;
    object-fit: cover;
    background-image: url("https://raw.githubusercontent.com/kimtaeyoon20031220/kimtaeyoon20031220.github.io/f4de23f9ba9b5df5e2064347795bd31037a0cf03/profile.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeInUp 0.5s;
}

#left-bar {
    position: absolute;
    top: 50%;
    bottom: 50%;
    rotate: -90deg;
}

#bar-bar {
    display: inline-block;
    width: 300px;
    height: 1px;
    background-color: white;
}

#bar-menu {
    color: white;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#small-text {
    color: white;
    display: block;
    text-align: center;
    margin-top: 30px;
    animation: fadeInUp 0.5s;
}

#text {
    color: #525763;
    font-weight: bolder;
    font-size: 45px;
    margin-top: 30px;
    display: inline-block;
    animation: fadeInUp 0.5s;
    line-height: 65px;
}

.text-link {
    color: white;
}