body {
    margin: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    font-family: 'Pretendard', sans-serif;
    color: #444952;
    
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100vh;
}

.title {
    font-size: 45px;
    font-weight: 600;
    line-height: 150%;
}

#main-top-right {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
}

#top-thumbnail {
    width: 170px;
    height: 170px;
    border-radius: 35px;
    background-color: #F1F5FA;
}

.content {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}

.content-item {
    padding: 40px;
    background-color: white;
    border: 2px solid #F1F5FA;
    border-radius: 20px;
    box-shadow: 0 3px 30px #eff2f8;
    margin-bottom: 20px;
    transition: 0.3s;
}

.content-item:hover {
    box-shadow: 0 5px 30px #d0d3d8;
    scale: 1.02;
    transition: 0.3s;
}

.content-title {
    font-weight: 600;
    font-size: 30px;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
}

.content-icon {
    margin-right: 10px;
    height: 40px;
}

.content-more-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #A5ADBA;
    font-weight: 400;
}

.content-desc {
    font-weight: 400;
    font-size: 16px;
    color: #A5ADBA;
    margin-bottom: 30px;
    margin-left: 50px;
}

.timeline-item {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
}

.timeline-block {
    padding: 5px;
    border-radius: 5px;
    background-color: #F1F5FA;
    font-weight: 500;
    font-size: 13px;
    margin-right: 20px;
    width: fit-content;
    height: fit-content;
    border: 1px solid #F1F5FA;
    color: #A5ADBA;
}

.timeline-text-title {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
}

.timeline-text-content {
    font-weight: 300;
    font-size: 13px;
    color: #A5ADBA;
}

.content-img-text-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-img-text-item-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #F1F5FA;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.content-img-text-item-text {
    margin-left: 10px;
}