html {
    --color-texta: #1d1d1d;
    --color-textb: #fff;
    --page-distance-left: -100vw;
    --page-distance-right: 100vw;
    --page-distance-left-end: 100px;
    --page-distance-right-end: 100px;
    --page-scale-up: 1;
    --page-scale-down: 0.4;
}

body {
    margin: 0;
    background-color: #1A1A1D;
    font-family: 'Pretendard', sans-serif;
    /*cursor: none; /*커서 지우기*/
    overflow: hidden; /*화면 이상으로 넘어가는 것은 숨김 처리*/
}

a { 
    /*cursor: none;*/
    text-decoration: none;
    color: white;
}

#page-button-left:hover {
    transition: "leftButton 0.3s ease-out forwards";
}

#page-button-right:hover {
    transition: "rightButton 0.3s ease-out forwards";
}

/*.cursor {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: brightness(2) ;
    background-size: cover;
    background-color: #ffffff12;
}*/

.viewport {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr 70px;
}

.top {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.link-grow {
    transform: scale(2);
    backdrop-filter: brightness(2.5);
    background-color: #ffffff43;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    z-index: 1;
    animation: fadeInUp 0.5s;
}

.columns-center {
    display: grid;
    grid-template-rows: 1fr 3.5fr;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.top-left-box {
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    align-items: center;
}

.title-page {
    margin-top: auto;
    width: 70px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: auto;
}

.title-page-now {
    color: white;
}

.title-page-all {
    color: #595C68;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.item {
    width: 100%;
    height: 100%;
    background-color: #4A4D56;
    border-radius: 20px;
    position: absolute; /*item의 child 요소를 item 위에 쌓기 위함*/
    top: 50%; /*item을 세로 가운데 정렬*/
    transform: translateY(-50%); /*item을 세로 가운데 정렬*/
    transition: 0.2s;
}

.item:hover {
    scale: 1.03;
    transition: 0.2s;
}

.thumbnail {
    background-image: url("https://user-images.githubusercontent.com/19889463/222959125-f35ad7f9-f3a9-4d3b-9d8c-496e14724b74.png");
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: 50% 50%;
    background-position: center;
}

.shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(#00000000, #000000c1);
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    display: grid;
    grid-template-rows: 5fr auto auto 1fr;
}

.content-title {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 50px;
}

.content-stack {
    margin-left: 50px;
    margin-top: 15px;
}

.content-stack-item {
    display: inline-block;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    font-weight: 600;
    color: #ffffff75;
    background-color: #00000012;
    -webkit-backdrop-filter: brightness(1.3) blur(20px);
    backdrop-filter: brightness(1.3) blur(20px);
}