body {
    margin: 0;
    background-color: white;
    color: #444952;
    font-family: 'Pretendard', sans-serif;
}

.viewport {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

#icon {
    width: 60px;
    height: 60px;
    background-image: url("bulb_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    margin-right: 20px;
}

#title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 60px;
    margin-top: 10%;
    margin-bottom: 70px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}

.skill {
    padding: 40px;
    background-color: white;
    border: 2px solid #F1F5FA;
    border-radius: 20px;
    box-shadow: 0 3px 30px #eff2f8;
    margin-bottom: 20px;
    transition: 0.3s;
}

.skill-title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
    display: block;
}

.skill-item {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.skill-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #F1F5FA;
    border-radius: 50px;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.skill-name {
    font-weight: 500;
    margin-bottom: 5px;
}

.skill-content {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}

.skill-bar {
    display: inline-block;
    width: 100%;
    height: 10px;
}

.skill-bar-back {
    width: 100%;
    height: 10px;
    background-color: #F1F5FA;
    border-radius: 10px;
}

.skill-bar-front {
    position: relative;
    height: 10px;
    background-color: #4387ED;
    border-radius: 10px;
    top: -10px;
}