body {
    margin: 0;
    background-color: white;
    color: #444952;
    font-family: 'Pretendard', sans-serif;
}

.viewport {
    width: 100vw;
    height: 100vh;
}

#icon {
    width: 80px;
    height: 80px;
    background-image: url("bulb_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    margin-bottom: 20px;
}

#title {
    font-weight: bold;
    font-size: 60px;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 0px;
}

.content {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.left {
    padding-right: 40px;
}

.right {
    padding-left: 40px;
}

.skill-title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
    display: block;
    margin-top: 80px;
}

.skill-item {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.skill-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #F1F5FA;
    border-radius: 13px;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.skill-name {
    font-weight: 500;
    margin-bottom: 5px;
}

.skill-content {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}

.skill-bar {
    display: inline-block;
    width: 100%;
    height: 10px;
}

.skill-bar-back {
    width: 100%;
    height: 10px;
    background-color: #F1F5FA;
    border-radius: 10px;
}

.skill-bar-front {
    position: relative;
    height: 10px;
    background-color: #4387ED;
    border-radius: 10px;
    top: -10px;
}